* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;

}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar */
.navbar {
    background-color: #047aed;
    color: #fff;
    height: 70px;

}

.container {
    max-width: 1110px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 37px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 12px;
    margin: 0 6px;
}

.navbar a:hover {
    border-bottom: 3px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

.docs-image-container {
    background-image: url("Images/laptop.png");
    min-height: 400px;
    max-height: 525px;
    width: 800px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-image1 {
    display: flex;
    justify-content: center;
}


/*Box*/
.cards {
    display: flex;
    justify-content: space-between;
    color: white;
}



.img-docs-second {
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.img-docs-second:hover {
    transform: scale(1.3);
}


.docs-container {
    margin: 20px 10px 20px;
    background-color: rgb(132, 161, 215);
    height: 200px;
    text-align: center;
    align-content: center;
    border-radius: 5px;

}


.card-container-requirements {
    margin-top: 20px;
}

.requirements-c{
background-color: #fff;
color: #333;
border-radius: 10px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
padding: 20px;
margin: 20px;
}

req ,pre {
  background: rgb(132, 161, 215);
  color: #fff;
  padding: 10px;
}

/*Footer*/


.footer .social a {
    margin: 0 10px;
}
  
.fa-github:hover {
    color: #000000;
}
  
.fa-facebook:hover {
    color: #1b74ea;
}
  
.fa-instagram:hover {
    color: #ba308c;
}
  
.fa-twitter:hover {
    color: #1998e6;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    color: white;
}
.footer-info{
    margin: 10px;
    padding: 10px;
    color: black;
}
  
#social-footer{
    align-items:center;
}
.fab{
    margin:10px;
}