* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;

}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar */
.navbar {
    background-color: #047aed;
    color: #fff;
    height: 70px;

}

.container {
    max-width: 1110px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 37px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 12px;
    margin: 0 6px;
}

.navbar a:hover {
    border-bottom: 3px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}


/*sign in form*/

form {
    border: 3px solid #f1f1f1;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
b{
    color: rgb(0, 106, 255);
}


button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 24px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}
.container-sign{
    margin: 0 auto;
}



.signin-google {
    width: auto;
    padding: 12px 19px;
    background-color: #f05d52;
}


.imgcontainer {
    text-align: center;
    margin: 25px 0 13px 0;
}


img.avatar {
    width: 38%;
    border-radius: 50%;
}


.container-sign {
    padding: 16px;
}


span.psw {
    float: right;
    padding-top: 16px;
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.sign-form{
 max-width: 500px;
 margin: 0 auto;
 margin-top: 60px;
 background-color: lightgray;
 border-color: lightsteelblue;
 border-radius: 7px;
 margin-bottom: 60px;
    
}

.psw{
    margin:10px
}

/*footer*/
.footer .social a {
    margin: 0 10px;
}
  
.fa-github:hover {
    color: #000000;
}
  
.fa-facebook:hover {
    color: #1b74ea;
}
  
.fa-instagram:hover {
    color: #ba308c;
}
  
.fa-twitter:hover {
    color: #1998e6;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    color: white;
}
.footer-info{
    margin: 10px;
    padding: 10px;
    color: black;
}
  
#social-footer{
    align-items:center;
}
.fab{
    margin:10px;
}